html,
body {
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font-family: 'ＭＳ Ｐゴシック', sans-serif;
}

body {
    width: 352px;
    height: 400px;
}

p {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
}

#map_img {
    position: absolute;
    z-index: 0;
}

#nied_img {
    position: absolute;
    z-index: 10;
}

#scaleimg {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
    background: #fff;
}

#opensetting {
    font-family: 'ＭＳ Ｐゴシック', sans-serif;
    position: absolute;
    right: 72px;
    bottom: 45px;
    z-index: 20;
}

#closesetting {
    font-family: 'ＭＳ Ｐゴシック', sans-serif;
}

#setting {
    font-size: 14px;
    position: absolute;
    z-index: 30;
    display: none;
    width: 280px;
    height: 330px;
    color: black;
    background: #fff;
}